@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>


@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="administration">Add new Role</a>
    foreach (var role in Model)
    {


        <div class="card mb-3">
            <div class="card-header">
                Role Id = @role.Id

            </div>
            <div class="card-body">
                <h5 class="card-title"> @role.Name</h5>

            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                @if (role.Id == "0de62f71-47d1-47d6-96f0-0bb208a9bf77" || role.Id == "93568ab6-0bb1-474c-834f-b311bebeb259")
                {
                    <a class="btn btn-danger" hidden>Danger</a>

                }
                else
                {
                    //<a asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-danger" id="deleteButton">Danger</a>
                    <a name="@role.Id" class="btn btn-danger" onclick="hideButton(this)" id="@role.Id">Danger</a>
                    <a name="@role.Id" asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-danger" style="display: none"  id="{@role.Id}yes" >YES</a>
                    <a name="@role.Id" onclick="showButton(this)" class="btn btn-danger" id="{@role.Id}no" style="display: none" >NO</a>

                } 
                @if (true)
                {

                }
            </div>

        </div>
    }

}
else
{

    <div class="card">
        s
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" asp-controller="administration" asp-action="CreateRole">Create Role</a>
        </div>
    </div>

}

@section Scripts
{
    <script>

        function hideButton(elmnt) {

            var buttonList = document.getElementsByName(elmnt.name);

            for (var i = 0; i < buttonList.length; i++) {

                if (i == 0) {

                    buttonList[i].style.display = "none";
                } else {
                    buttonList[i].style.display = "";
                }

            }

        }
        function showButton(elmnt) {

            var buttonList = document.getElementsByName(elmnt.name);
           // alert(elmnt.name);

            for (var i = 0; i < buttonList.length; i++) {

                if (i == 0) {

                    buttonList[i].style.display = "";
                } else {
                    buttonList[i].style.display = "none";
                }

            }

 
        }

       


    </script>
}